<!doctype html>
<html>
    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>
    <body>
        <div class="container">
            <h1>Search</h1>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="query_img"><br>
                <input type=" ">
            </form>
            <h2>Query:</h2>
            {% if query_path %}
            <img src="data:image/jpeg;base64,{{ query_path }}" width="200px" height="200px">
            {% endif %}
            <!--<h2>VAE L2 Distance:</h2>
            {% for c in candidates_vae %}
            <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                <img src="data:image/jpeg;base64,{{ c[0] }}" width="100px" height="100px">
                <figcaption>{{ c[1] }}</figcaption>
            </figure>
            {% endfor %}-->
            <h2>L2 Distance:</h2>
            {% for c in candidates_simclr %}
            <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                <img src="data:image/jpeg;base64,{{ c[0] }}" width="100px" height="100px">
                <figcaption>{{ c[1] }}</figcaption>
            </figure>
            {% endfor %}
        </div>
    </body>
</html>


